In [45]:
#IMPORT LIBRARIES
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import os
import pandas as pd

In [46]:

# Read the Excel file from Desktop
excel_path = os.path.expanduser('/Users/emirkabasoglu/Desktop/EloomiPlatformActivityReport.xlsx')
df = pd.read_excel(excel_path)
df.head(2)

,Platform URL,Platform ID,Customer Name,Active Users Jun-2024 / Jul-2024,Active Users May-2024 / Jun-2024,Active Users Apr-2024 / May-2024,Active Users Mar-2024 / Apr-2024,Active Users Feb-2024 / Mar-2024,Active Users Jan-2024 / Feb-2024,Inactive Users Jun-2024 / Jul-2024,...,Modules Completed Required Apr-2024 / May-2024,Modules Completed Required Mar-2024 / Apr-2024,Modules Completed Required Feb-2024 / Mar-2024,Modules Completed Required Jan-2024 / Feb-2024,Modules Completed Not Required Jun-2024 / Jul-2024,Modules Completed Not Required May-2024 / Jun-2024,Modules Completed Not Required Apr-2024 / May-2024,Modules Completed Not Required Mar-2024 / Apr-2024,Modules Completed Not Required Feb-2024 / Mar-2024,Modules Completed Not Required Jan-2024 / Feb-2024
0,sticonsulting.eloomi.com,22,Sti Consulting,0,0,0,0,0,0,180,...,0,0,0,0,0,0,0,0,0,0
1,best.eloomi.com,23,Best,257,249,249,248,247,247,44,...,6,0,0,42,98,166,54,196,108,116

In [47]:
#Onyl Selecting Some Columns From the Whole Dataframe Table

columns_to_keep = [1, 3, 9, 15, 21, 27, 45, 51]
df = df.iloc[:, columns_to_keep]
df.head(2)

,Platform ID,Active Users Jun-2024 / Jul-2024,Inactive Users Jun-2024 / Jul-2024,Pending Users Jun-2024 / Jul-2024,Unique Logins Jun-2024 / Jul-2024,Modules Created Jun-2024 / Jul-2024,Modules Completed Required Jun-2024 / Jul-2024,Modules Completed Not Required Jun-2024 / Jul-2024
0,22,0,180,0,0,0,0,0
1,23,257,44,0,13,1,22,98

In [48]:

# Snowflake connection parameters
SNOWFLAKE_USER = 'emirkabasoglu'
SNOWFLAKE_PASSWORD = '7Bb13287'
SNOWFLAKE_ACCOUNT = 'se63477.north-europe.azure'
SNOWFLAKE_WAREHOUSE = 'TRANSFORMING_WH'
SNOWFLAKE_DATABASE = 'RAW_DB'
SNOWFLAKE_SCHEMA = 'ACTIVITY_REPORT'


# Establish a connection to Snowflake
conn = snowflake.connector.connect(
    user=SNOWFLAKE_USER,
    password=SNOWFLAKE_PASSWORD,
    account=SNOWFLAKE_ACCOUNT,
    warehouse=SNOWFLAKE_WAREHOUSE,
    database=SNOWFLAKE_DATABASE,
    schema=SNOWFLAKE_SCHEMA,
    #authenticator='externalbrowser'
)

In [49]:
#Calculate Last Month's Date
from datetime import datetime, timedelta

today = datetime.today()
first_day_of_current_month = datetime(today.year, today.month, 1)
last_month_date = first_day_of_current_month - timedelta(days=1)

In [50]:
#Show the Last Month's Date
last_month_date

datetime.datetime(2024, 6, 30, 0, 0)

In [51]:
# Generate a unique table name
import uuid
table_name = f'activity_report_{last_month_date.strftime("%Y-%m-%d")}'
quoted_table_name = f'"{table_name}"'
quoted_table_name

'"activity_report_2024-06-30"'

In [52]:
# Create table SQL statement
columns = ', '.join([f'"{col}" STRING' for col in df.columns])
create_table_sql = f'CREATE TABLE IF NOT EXISTS {quoted_table_name} ({columns})'

In [53]:
# Execute the create table statement
with conn.cursor() as cur:
    cur.execute(create_table_sql)

In [54]:
# Create a new table and insert the data
try:
    # Write the DataFrame to Snowflake
    success, num_chunks, num_rows, output = write_pandas(conn, df, table_name)

    if success:
        print(f'Successfully uploaded {num_rows} rows to {table_name} in Snowflake.')
    else:
        print('Failed to upload data to Snowflake.')

finally:

    # Close the connection
    conn.close()

ProgrammingError: 000904 (42000): SQL compilation error: error line 1 at position 115
invalid identifier '"Active Users Jun-2024 / Jul-2024"'

In [ ]:
########################################################################

In [ ]:
#CREATE A FILE FOR ONLY DATA IMPORTATION

In [55]:
# Dictionary mapping column indices to new names

new_column_names = ['People ID', 'Active Users', 'Inactive Users','Pending Users','Monthly Active Usage', 'Monthly Module Creations',
'Module Completions (Required)','Module Completions (not Required)']

In [56]:
#CHANGING THE NAMES OF THE COLUMNS
df.columns = new_column_names
df.head(4)

,People ID,Active Users,Inactive Users,Pending Users,Monthly Active Usage,Monthly Module Creations,Module Completions (Required),Module Completions (not Required)
0,22,0,180,0,0,0,0,0
1,23,257,44,0,13,1,22,98
2,24,178,349,0,0,0,0,0
3,25,4,0,0,0,0,0,0

In [39]:
df.to_csv('platfrom_activity_final.csv')

In [ ]:
#SENDING TO DATABASE

In [14]:
#CREATE THE ENGINE THAT CONNECTS TO THE DATABASE
#from sqlalchemy import create_engine

#engine = create_engine(f'snowflake://{SNOWFLAKE_USER}:{SNOWFLAKE_PASSWORD}@{SNOWFLAKE_ACCOUNT}/{SNOWFLAKE_DATABASE}/{SNOWFLAKE_SCHEMA}?warehouse={SNOWFLAKE_WAREHOUSE}')

In [15]:
#import psycopg2 as pg2

#from psycopg2.extras import execute_values

In [16]:
#CREATE THE ENGINE THAT CONNECTS TO THE DATABASE

#connection_string = 'postgresql://stitch:0MfFgDNUA@eloomi-cops.postgres.database.azure.com:5432/postgres'
# Example connection string
#connection_string = "dev_emir:123Emir456@se63477.north-europe.azure/RAW_DB/ACTIVITY_REPORT?warehouse=YOUR_WAREHOUSE&role=ACCOUNTADMING"

In [44]:
#def replace_table_with_dataframe(df, table_name, connection_string):
    # Establish a connection to the database
    #conn = pg2.connect(connection_string)
    #cur = conn.cursor()
    
    # Drop the table if it exists
    #drop_query = f"DROP TABLE IF EXISTS {table_name}"
    #cur.execute(drop_query)

    # Create the table (assume all columns are VARCHAR for simplicity, adjust as needed)
    #create_query = f"CREATE TABLE {table_name} ({', '.join([f'{col} VARCHAR' for col in df.columns])})"
    #cur.execute(create_query)

    # Create a list of tuples from the DataFrame values
    #tuples = [tuple(x) for x in df.to_numpy()]

    # Comma-separated DataFrame columns
    #cols = ','.join(list(df.columns))

    # SQL query to insert data
    #insert_query = f"INSERT INTO {table_name}({cols}) VALUES %s"

    # Executeâ€‹â¬¤

In [18]:
# Specify the table name
#table_name = 'PLATFORM_ACTIVITY_FINAL'

# Replace the table with the DataFrame contents
#replace_table_with_dataframe(df, table_name, connection_string)

ProgrammingError: invalid dsn: invalid connection option "dev_emir:123Emir456@se63477.north-europe.azure/RAW_DB/ACTIVITY_REPORT?warehouse"

In [38]:
#SEND THE DATAFRAME TO THE DATABASE

#df.to_sql('platform_activity_final', engine,index=False,if_exists='replace')

<ipython-input-38-bc99a7f108bb>:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('platform_activity_final', engine,index=False,if_exists='replace')

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
#engine.dispose()

In [57]:
import pandas as pd
import snowflake.connector

def send_df_to_snowflake(df, table_name, schema, database, user, password, account, warehouse, role):
    """
    Sends a DataFrame to Snowflake and replaces the existing table.
    
    Parameters:
    - df: pandas DataFrame to be sent to Snowflake.
    - table_name: Name of the table in Snowflake.
    - schema: Schema of the table in Snowflake.
    - database: Database of the table in Snowflake.
    - user: Snowflake user.
    - password: Snowflake password.
    - account: Snowflake account identifier.
    - warehouse: Snowflake warehouse to use.
    - role: Snowflake role to use.
    """
    
    # Establish Snowflake connection
    conn = snowflake.connector.connect(
        user=user,
        password=password,
        account=account,
        warehouse=warehouse,
        database=database,
        schema=schema,
        role =role
    )
    
    # Create a cursor object
    cur = conn.cursor()
    
    temp_csv = 'temp_file.csv'
    df.to_csv(temp_csv, index=False)
    
    # Use Snowflake PUT command to upload the CSV file to a Snowflake stage
    cur.execute(f"PUT file://{temp_csv} @%{table_name}")
    
    # Delete existing table data
    cur.execute(f"TRUNCATE TABLE {schema}.{table_name}")
    
    # Load data from the staged CSV file into the Snowflake table
    cur.execute(f"""
        COPY INTO {schema}.{table_name}
        FROM @%{table_name}/{temp_csv.split('/')[-1]}
        FILE_FORMAT = (TYPE = 'CSV' FIELD_OPTIONALLY_ENCLOSED_BY = '"')
        ON_ERROR = 'CONTINUE'
    """)
    
    # Remove the staged file
    cur.execute(f"REMOVE @%{table_name}/{temp_csv.split('/')[-1]}")
    
    # Close the cursor and connection
    cur.close()
    conn.close()

In [38]:
#df.rename(columns={'Module Completions / Required': 'Module Completions (Required)'}, inplace=True)
#df.rename(columns={'Module Completions / not Required': 'Module Completions (not Required)'}, inplace=True)

In [58]:
    # Send DataFrame to Snowflake
    send_df_to_snowflake(
        df=df,
        table_name='PLATFORM_ACTIVITY_FINAL',
        schema='ACTIVITY_REPORT',
        database='RAW_DB',
        user='emirkabasoglu',
        password='7Bb13287',
        account='se63477.north-europe.azure',
        warehouse='TRANSFORMING_WH',
        role ='ACCOUNTADMIN'
    )