In [293]:
#IMPORT LIBRARIES

import pymysql as mysql
import pandas as pd
import psycopg2 as pg2

In [294]:
pip install pymssql

Requirement already satisfied: pymssql in /Users/emirkabasoglu/anaconda3/lib/python3.9/site-packages (2.2.5)
Note: you may need to restart the kernel to use updated packages.

In [295]:
import pymssql

conn = pymssql.connect(
         server="eloomi-mssql-server-prod.database.windows.net",
         port=1433,
         user="emir",
         password="jAU9qHUz9MuK2ejTern5",
         database="eloomi-mssql-db-global-platforms-prod")
conn
cursor = conn.cursor()
cursor.execute("SELECT * FROM platform_domains")

In [296]:
db_infinite_cursor = conn.cursor()

In [297]:
db_infinite_cursor.execute('''
      select p.platform_id,
       p.name,
       count(a.id)                                   api_tokens,
       iif(p.sso_active = 1, 'true', 'false')        sso_enabled,
       iif(count(i.created_at) > 0, 'true', 'false') native_integrations_enabled,
       iif(count(pd.id) > 0, 'true', 'false')        custom_domain_enabled
from platform p
         left join api_tokens a on p.platform_id = a.platform_id and a.deleted_at is null
         left join integrations i
                   on p.platform_id = i.platform_id and i.partner_id = 1 and i.disabled_at is null
         left join platform_domains pd
                   on p.platform_id = pd.platform_id and pd.type = 'customer_domain' and pd.deleted_at is null
where p.active = 1
group by p.platform_id, p.name, p.sso_active;
                  ''')

In [298]:
db_infinite_platform_id = db_infinite_cursor.fetchall()
cols = []

for i in db_infinite_cursor.description:
    cols.append(i[0])

db_infinite_platform_id = pd.DataFrame(db_infinite_platform_id, columns = cols)

In [299]:
db_infinite_platform_id.columns

Index(['platform_id', 'name', 'api_tokens', 'sso_enabled',
       'native_integrations_enabled', 'custom_domain_enabled'],
      dtype='object')

In [300]:
db_platform_api_sso = db_infinite_platform_id

In [301]:
db_platform_api_sso

,platform_id,name,api_tokens,sso_enabled,native_integrations_enabled,custom_domain_enabled
0,1177,External,29,true,true,false
1,1600,thomas,0,false,false,false
2,1623,Cornerstoneak,0,false,false,false
3,1737,sti,0,false,false,false
4,1745,barma,8,true,false,true
...,...,...,...,...,...,...
3301,1004715,producttest123,0,false,false,false
3302,1004716,test-brighterplaces,0,false,false,false
3303,1004717,usopen,0,false,false,false
3304,1004719,dolphinsquare,0,false,false,false
3305,1004720,trialexperience-evoke,0,false,false,false

In [302]:
#IMPORT THE ID'S INTO POSTGRE DB

In [303]:
# IMPORT LIBRARIES
import psycopg2
import pandas as pd
from psycopg2.extras import execute_values
from sqlalchemy import create_engine

In [304]:
#CREATE THE ENGINE THAT CONNECTS TO THE DATABASE

connection_string = 'postgresql://stitch:0MfFgDNUA@eloomi-cops.postgres.database.azure.com:5432/postgres'

In [305]:
def replace_table_with_dataframe(df, table_name, connection_string):
    # Establish a connection to the database
    conn = pg2.connect(connection_string)
    cur = conn.cursor()
    
    # Drop the table if it exists
    drop_query = f"DROP TABLE IF EXISTS {table_name}"
    cur.execute(drop_query)

    # Create the table (assume all columns are VARCHAR for simplicity, adjust as needed)
    create_query = f"CREATE TABLE {table_name} ({', '.join([f'{col} VARCHAR' for col in df.columns])})"
    cur.execute(create_query)

    # Create a list of tuples from the DataFrame values
    tuples = [tuple(x) for x in df.to_numpy()]

    # Comma-separated DataFrame columns
    cols = ','.join(list(df.columns))

    # SQL query to insert data
    insert_query = f"INSERT INTO {table_name}({cols}) VALUES %s"

    # Execute​⬤

In [306]:
# Specify the table name
table_name = 'db_platform_api_sso'

# Replace the table with the DataFrame contents
replace_table_with_dataframe(db_platform_api_sso, table_name, connection_string)

In [307]:
print("done")

done

In [308]:
#SEND THE DATAFRAME TO THE DATABASE -- old code

#db_platform_api_sso.to_sql('db_platform_api_sso', engine, if_exists='replace')

In [309]:
###END###