In [1]:
#IMPORT LIBRARIES

import pymysql as mysql
import pandas as pd
import psycopg2 as pg2
import numpy as np

In [2]:
#CONNECTING TO THE PEOPLE PLATFORM ID TABLE

db_connection = mysql.connect( host='eloomi-global.mysql.database.azure.com',  database='eloomi_global', user='emir@eloomi-global', password='jAU9qHUz9MuK2ejTern5')

In [3]:
db_cursor = db_connection.cursor()

In [4]:
db_cursor.execute('SELECT * FROM platforms_domains')

6949

In [5]:
db_platform_id = db_cursor.fetchall()
cols = []

for i in db_cursor.description:
    cols.append(i[0])

db_platform_id = pd.DataFrame(db_platform_id, columns = cols)

In [6]:
db_platform_id.head(5)
db_platform_id.replace({np.nan: None}, inplace = True)
db_platform_id.head(10)

,domain_id,platform_id,domain,created_at,updated_at
0,10,3.0,ricksplat.eloomi.com,None,None
1,11,2.0,kennethstest.eloomi.com,None,None
2,12,4.0,demov2.eloomi.com,None,None
3,13,5.0,dermanorakademiet.eloomi.com,None,None
4,14,6.0,david-andersen.eloomi.com,None,None
5,21,16.0,testj.eloomi.com,2017-12-14 17:53:05,2017-12-14 17:53:05
6,25,20.0,apip.eloomi.com,2017-12-19 14:07:58,2017-12-19 14:07:58
7,27,22.0,sticonsulting.eloomi.com,None,None
8,28,23.0,best.eloomi.com,None,None
9,29,24.0,blenderskolen.eloomi.com,None,None

In [7]:
#### END #####

In [8]:
#CONNECTING TO THE INFINITE ID TABLE

In [9]:
# import pymysql 
# import pandas as pd
# import pyodbc

# host = "eloomi-mssql-server-prod.database.windows.net",
# database_name = "eloomi-mssql-db-global-platforms-prod",
# user_id = "emir",
# password = "jAU9qHUz9MuK2ejTern5",
# connect_timeout=60 

#connection_string = "DRIVER={/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.0.so.1.1};SERVER=" + server_name + ";DATABASE=" + database_name + ";UID=" + user_id + ";PWD=" + password

In [10]:
# import pymysql as psql
# import pandas as pd
# import pyodbc

# conn = psql.connect( host='eloomi-mssql-server-prod.database.windows.net',
                       # user='emir', 
                       # password='jAU9qHUz9MuK2ejTern5', 
                       # database='eloomi-mssql-db-global-platforms-prod',
                       # connect_timeout=60 )

In [11]:
# import pymysql

# conn = pymysql.connect(
    # host='eloomi-mssql-server-prod.database.windows.net',
    # user='emir',
    # password='jAU9qHUz9MuK2ejTern5',
    # database='eloomi-mssql-db-global-platforms-prod'
# )

# execute the query
# cursor = conn.cursor()
# cursor.execute("SELECT * FROM platform")
# for row in cursor:
    # print(row)

In [12]:
#------------------ NEW INFINITE SCRIPT ------------------#

In [13]:
pip install pymssql

Requirement already satisfied: pymssql in /Users/emirkabasoglu/anaconda3/lib/python3.9/site-packages (2.2.5)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pymssql

conn = pymssql.connect(
         server="eloomi-mssql-server-prod.database.windows.net",
         port=1433,
         user="emir",
         password="jAU9qHUz9MuK2ejTern5",
         database="eloomi-mssql-db-global-platforms-prod")
conn
cursor = conn.cursor()
cursor.execute("SELECT * FROM platform_domains")

In [15]:
db_infinite_cursor = conn.cursor()

In [16]:
db_infinite_cursor.execute('SELECT * FROM platform_domains')

In [17]:
db_infinite_platform_id = db_infinite_cursor.fetchall()
cols = []

for i in db_infinite_cursor.description:
    cols.append(i[0])

db_infinite_platform_id = pd.DataFrame(db_infinite_platform_id, columns = cols)

In [18]:
db_infinite_platform_id.columns

Index(['id', 'platform_id', 'domain', 'type', 'dns_validation_complete',
       'primary', 'deleted_at', 'last_error', 'created_at', 'updated_at'],
      dtype='object')

In [19]:
#db_infinite_platform_id.to_excel('db_infinite_platform_id.xlsx')

In [20]:
#IMPORT THE ID'S INTO POSTGRE DB

In [21]:
# IMPORT LIBRARIES
import psycopg2
import pandas as pd
from psycopg2.extras import execute_values
from sqlalchemy import create_engine

In [22]:
#CREATE THE ENGINE THAT CONNECTS TO THE DATABASE

connection_string = 'postgresql://stitch:0MfFgDNUA@eloomi-cops.postgres.database.azure.com:5432/postgres'

In [23]:
#old code
#conn = engine.connect()

In [24]:
def map_dtype(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INTEGER'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'TIMESTAMP'
    else:
        return 'TEXT'
    
def quote_identifier(identifier):
    return f'"{identifier}"' if identifier.islower() else identifier

def generate_create_table_statement(df, table_name):
    columns = []
    for col_name, dtype in zip(df.columns, df.dtypes):
        sql_type = map_dtype(dtype)
        columns.append(f'"{col_name}" {sql_type}')
    columns_str = ", ".join(columns)
    return f"CREATE TABLE {table_name} ({columns_str})"

In [25]:
#generate_create_table_statement(db_platform_id, table_name)

In [26]:
def replace_table_with_dataframe(df, table_name, connection_string):
    # Establish a connection to the database
    conn = psycopg2.connect(connection_string)
    cur = conn.cursor()
    
    # Drop the table if it exists
    drop_query = f"DROP TABLE IF EXISTS {table_name}"
    cur.execute(drop_query)

    # Create the table with appropriate data types
    create_query = generate_create_table_statement(df, table_name)
    cur.execute(create_query)

    # Create a list of tuples from the DataFrame values
    tuples = [tuple(x) for x in df.to_numpy()]

    # Comma-separated DataFrame columns
    cols = ','.join([f'"{col}"' for col in df.columns])

    # SQL query to insert data
    insert_query = f"INSERT INTO {table_name} ({cols}) VALUES %s"

    # Execute the query using execute_values for efficient bulk insert
    execute_values(cur, insert_query, tuples)
    
    # Commit the transaction
    conn.commit()

    # Close the cursor and connection
    cur.close()
    conn.close()

In [27]:
# Specify the table name

table_name = 'infinite_platform_id'

# Replace the table with the DataFrame contents

replace_table_with_dataframe(db_infinite_platform_id, table_name, connection_string)

In [28]:
# Specify the table name

table_name_2 = 'people_platform_id'

# Replace the table with the DataFrame contents

replace_table_with_dataframe(db_platform_id, table_name_2, connection_string)

In [29]:
#SEND THE DATAFRAME TO THE DATABASE
#old code with to_sql function

#db_platform_id.to_sql('people_platform_id', conn, if_exists='replace')

#db_infinite_platform_id.to_sql('infinite_platform_id', conn, if_exists='replace')

In [30]:
###END###

In [31]:
###REGION FOR INFINITE PLATFORMS ####

In [32]:
import pymssql

conn = pymssql.connect(
         server="eloomi-mssql-server-prod.database.windows.net",
         port=1433,
         user="emir",
         password="jAU9qHUz9MuK2ejTern5",
         database="eloomi-mssql-db-global-platforms-prod")
conn
cursor = conn.cursor()
cursor.execute("SELECT * FROM platform")

In [33]:
db_infinite_region_cursor = conn.cursor()

In [34]:
db_infinite_region_cursor.execute('SELECT * FROM platform')

In [35]:
db_infinite_platform_region_id = db_infinite_region_cursor.fetchall()
cols = []

for i in db_infinite_region_cursor.description:
    cols.append(i[0])

db_infinite_platform_region_id = pd.DataFrame(db_infinite_platform_region_id, columns = cols)

In [36]:
db_infinite_platform_region_id.columns

Index(['name', 'created_at', 'updated_at', 'category', 'active',
       'favicon_virtual_link', 'logo_virtual_link', 'branding_color',
       'branding_text_color', 'primary_color', 'idp_metadata_link',
       'idp_entity_id', 'platform_id', 'sso_only_login', 'sso_type',
       'sso_active', 'region', 'sso_login_attribute_name',
       'login_page_image_virtual_link',
       'login_page_background_image_virtual_link', 'custom_name', 'entity_id',
       'dashboard_background_image_virtual_link',
       'exclude_inactive_users_from_reports', 'sso_standard',
       'custom_welcome_message', 'custom_welcome_message_enabled',
       'spa_styling'],
      dtype='object')

In [37]:
# Specify the table name

table_name_2 = 'infinite_platform_region'

# Replace the table with the DataFrame contents

replace_table_with_dataframe(db_infinite_platform_region_id, table_name_2, connection_string)

In [38]:
print("done")

done

In [39]:
#SEND THE DATAFRAME TO THE DATABASE
#import pandas as pd
#from sqlalchemy import create_engine

#db_infinite_platform_region_id.to_sql('infinite_platform_region', engine, if_exists='replace')